/* styles.css */
body {
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: consolas, monaco, "bitstream vera sans mono", "courier new", courier, monospace;
}

h1  {

    font-size:40px;
    color:white;

}

h1:hover::after {
    content: 'on top!';
    font-size: 20px;
    color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) scale(0.5);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

h2 {
    font-size: 15px;
    color: white;
}

.container2 {
    transition: transform 0.3s ease;
}

.container {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.glow {
    animation: rainbowGlow 3s infinite alternate;
    
}

.glow:hover {
    transition: transform 0.3s ease;
    transform: translateY(-20%) scale(1.1);
}

.container2:hover {
    transform: scale(1.1);
}

.mute {
    position: absolute;
    color:white;
    bottom: 0.5%;
    left: 0.5%;
    animation: rainbowGlow 3s infinite alternate;
}

.mute:hover {
    transition: transform 0.3 ease;
    transform: translateY(-10%) scale(1.1);
}

.tracer {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    animation: crainbowGlow 0.7s infinite alternate;
    pointer-events: none;
    transition: opacity 3s ease;
}

.missedu {
    position: absolute;
    font-size: 15px;
    font-family: consolas, monaco, "bitstream vera sans mono", "courier new", courier, monospace;
    animation: rainbowGlow 2s infinite alternate;
    color: white;
    transition: transform 3s, opacity 1s;
}

.number {
    position: absolute;
    transform: translateY(-110%) translateX(100%);
    font-family: consolas, monaco, "bitstream vera sans mono", "courier new", courier, monospace;
    font-size: 15px;
    text-shadow: 0 0 5px rgb(255, 255, 255);
    color: white;
    transition: transform 1s, opacity 1s;
}

@keyframes rainbowGlow {
    0% { text-shadow: 0 0 10px rgb(255, 0, 0); }
    14% { text-shadow: 0 0 10px rgb(255, 128, 0); }
    28% { text-shadow: 0 0 10px rgb(255, 255, 0); }
    42% { text-shadow: 0 0 10px rgb(0, 255, 0); }
    57% { text-shadow: 0 0 10px rgb(0, 0, 255); }
    71% { text-shadow: 0 0 10px rgb(75, 0, 130); }
    85% { text-shadow: 0 0 10px rgb(148, 0, 211); }
    100% { text-shadow: 0 0 10px rgb(255, 0, 0); }
}

@keyframes crainbowGlow {
    0% { background: rgba(255, 0, 0, 0.3); }
    14% { background: rgba(255, 128, 0, 0.3); }
    28% { background: rgba(255, 255, 0, 0.3); }
    42% { background: rgba(0, 255, 0, 0.3); }
    57% { background: rgba(0, 0, 255, 0.3); }
    71% { background: rgba(75, 0, 130, 0.3); }
    85% { background: rgba(148, 0, 211, 0.3); }
    100% { background: rgba(255, 0, 0, 0.3); }
}
