/* styles.css */
body {
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 15px;
    color: white;
}

.container2 {
    transition: transform 0.3s ease;
}
.container {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.glow {
    font-size: 40px;
    color: white;
    animation: rainbowGlow 3s infinite alternate;
    transition: transform 0.3s ease;
}

.glow:hover {
    transform: scale(1.1);
}

.container2:hover {
    transform: scale(1.1);
}

.tracer {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: crainbowGlow 0.7s infinite alternate;
    pointer-events: none;
    transition: opacity 3s ease;
}
@keyframes rainbowGlow {
    0% { text-shadow: 0 0 6px rgb(255, 0, 0); }
    14% { text-shadow: 0 0 6px rgb(255, 128, 0); }
    28% { text-shadow: 0 0 6px rgb(255, 255, 0); }
    42% { text-shadow: 0 0 6px rgb(0, 255, 0); }
    57% { text-shadow: 0 0 6px rgb(0, 0, 255); }
    71% { text-shadow: 0 0 6px rgb(75, 0, 130); }
    85% { text-shadow: 0 0 6px rgb(148, 0, 211); }
    100% { text-shadow: 0 0 6px rgb(255, 0, 0); }
}

@keyframes crainbowGlow {
    0% { background: rgba(255, 0, 0, 0.3); }
    14% { background: rgba(255, 128, 0, 0.3); }
    28% { background: rgba(255, 255, 0, 0.3); }
    42% { background: rgba(0, 255, 0, 0.3); }
    57% { background: rgba(0, 0, 255, 0.3); }
    71% { background: rgba(75, 0, 130, 0.3); }
    85% { background: rgba(148, 0, 211, 0.3); }
    100% { background: rgba(255, 0, 0, 0.3); }
}
