/* styles.css */
body {
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 15px;
    color: white;
}

.container2 {
    transition: transform 0.3s ease;
}
.container {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.glow {
    font-size: 40px;
    color: white;
    animation: rainbowGlow 7s infinite alternate;
    transition: transform 0.3s ease;
}

.glow:hover {
    transform: scale(1.1);
}

.container2:hover {
    transform: scale(1.1);
}

@keyframes rainbowGlow {
    0% { text-shadow: 0 0 6px rgb(255, 0, 0); }
    14% { text-shadow: 0 0 6px rgb(255, 128, 0); }
    28% { text-shadow: 0 0 6px rgba(255, 255, 0); }
    42% { text-shadow: 0 0 6px rgba(0, 255, 0); }
    57% { text-shadow: 0 0 6px rgba(0, 0, 255); }
    71% { text-shadow: 0 0 6px rgba(75, 0, 130); }
    85% { text-shadow: 0 0 6px rgba(148, 0, 211); }
    100% { text-shadow: 0 0 6px rgba(255, 0, 0); }
}
